<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursov.Properties.Settings.курсConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\курс.mdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.НВАConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\НВА.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.СВАConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\СВА.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.НІАConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\НІА.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.СІАConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\СІА.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.БПConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\БП.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.БДConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\БД.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kursov.Properties.Settings.ЗДПConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ЗДП.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>